.loading {
  @apply transition-all relative;
}

.loading--active .loading-content {
  opacity: 0.4;
}
.loading-content {
  @apply transition-opacity duration-300;
}

.loading-spinner {
  @apply animate-spin;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
